* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #959595;
}

.wrapper {
    background-color: #959595;
}

.container {
    display: flex;
    gap: 40px;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.movement-buttons {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    text-align: center;
}

#up-btn {
    grid-column-start: 2;
}

#left-btn {
    grid-row-start: 2;
    grid-column-start: 1;
}

#right-btn {
    grid-row-start: 2;
    grid-column-start: 3;
}

#down-btn {
    grid-row-start: 3;
    grid-column-start: 2;
}

#start-btn {
    margin-bottom: 10px;
}

.game-field {
    width: 200px;
    height: 400px;
    background-color: #707070;
    display: flex;
    flex-wrap: wrap;
}

.game-field div {
    width: 20px;
    height: 20px;
}

.preview-field {
    width: 80px;
    height: 80px;
    background-color: #707070;
    display: flex;
    flex-wrap: wrap;
}

.preview-field div {
    width: 20px;
    height: 20px;
}

.fig {
    border: 1px solid #000000;
}
